/* ====== Variables ====== */ 
$ligh-color: #f4f4f4;
$main-font-color: #333;
$font-stack: Arial, Helvetica, sans-serif;
$text-align-center: center;
$text-transform-upper: uppercase;
$letter-spacing: 1px;
$text-decoration-under: underline;
$margin-top: 20px;
$margin-bottom: 20px;
$list-style: none;

/* ====== Media Queries ====== */
$small: 320px;
$medium: 720px;
$large: 1024px;

/* ====== Border Box ====== */ 
$btn-border-box: 5px 5px 8px 1px #888888;

/* ====== Navigation ====== */
$navbar-background-color: #000;

/* ====== Buttons ====== */
$padding-top: 20px;
$padding-bottom: 20px;
$padding-left: 20px;
$padding-right: 20px;
$border-radius: 5px;
$btn-bckg-color: #000;
$btn-font-color: #fff;

/* ====== Footer ====== */